# Load Model and make predictions

# 1 - Imports

In [1]:
import mlflow.sklearn
from pyspark.sql import SparkSession
import pandas as pd

# 2 - Load Model

In [3]:
root_path = os.path.dirname(os.getcwd())
model_uri = root_path + '/mlflow-artifacts'
model = mlflow.sklearn.load_model(model_uri=model_uri)

In [20]:
# sklearn pipeline
print(model)

Pipeline(steps=[('bow_model',
                 TfidfVectorizer(max_df=0.8, min_df=5, ngram_range=(1, 2))),
                ['log_reg_model', LogisticRegression(C=1)]])

# 3 - Predict

In [27]:
reviews = [
    'This film is absolutely appalling and awful.',
    'This would probably be a good film to see.',
    'Not much to say, certainly the best movie of Christopher Nolan.',
    'How did they get investments to make this terrible fiction.'
]

In [28]:
predictions = model.predict(reviews)
df = pd.DataFrame({"review": reviews, "predictions": predictions})

In [29]:
df

                                              review  predictions
0       This film is absolutely appalling and awful.            0
1          This would probably be a good film to see            1
2  Not much to say, certainly the best movie of C...            1
3  How did they get investements to make this ter...            0